@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 50s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardio {
  display: flex;
  flex-direction: row;
  background-color: rgba(55, 83, 132, 0.3);
  border: 1px ;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.exercise {
  display: flex;
  flex-direction: row;
  background-color: rgba(34, 62, 111, 0.3);
  border: 1px ;
  height: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 62, 111, 0.3);
  border: 1px ;
  height: 15rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.history {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 62, 111, 0.3);
  border: 1px ;
  height: 15rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.resistance {
  display: flex;
  flex-direction: row;
  background-color: rgba(55, 83, 132, 0.3);
  border: 1px ;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(55, 83, 132, 0.3);
  border: 1px ;
  height: 10rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(55, 83, 132, 0.3);
  border: 1px ;
  height: 10rem;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}


.resistance-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.cardio-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  
}

label {
  margin-top: 1rem;
  font-weight: 600;
  padding: 1rem;
}

h2 {
  margin-bottom: 0;
}

input {
  font-size: large;
  padding: 5px;
  border-radius: .5rem;
}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

.center h1 {
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

button {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(43, 137, 63, 0.54);
  text-decoration: solid;
  font-size: larger;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

button:hover {
  background-color: #2c9d2f
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
